alabaster==0.7.12
black==19.3b0
codecov==2.0.16
coverage==4.5.1
flake8==3.5.0
pre-commit==1.18.0
pycalver==201903.30

pytest==3.8.2
pytest-cov
pytest-runner==4.2
Sphinx==1.8.1
tox==3.5.2
twine==1.12.1
watchdog==0.9.0
wheel==0.32.1
